

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <!-- isto vai correr muito mal-->

    <img class="navbar-logo" src="imagens/logo.png">
    <a class="navbar-brand" href="#">HISTORIFY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href= "" routerLink = "home-page" routerLinkActive="router-link-active" >HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "" routerLink='sobre-nos' >SOBRE NÓS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "" routerLink='sugestoes' >SUGESTÕES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "" routerLink='area-pessoal' >ÁREA PESSOAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "" routerLink='contactos' >CONTACTOS</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href= "" routerLink='login' >LogIn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--
<a href= "" routerLink = "home-page" routerLinkActive="router-link-active" >HOME PAGE</a>
<a href= "" routerLink='area-pessoal' >ÁREA PESSOAL</a>
<a href= "" routerLink='sobre-nos' >SOBRE NÓS</a>
<a href= "" routerLink='sugestoes' >SUGESTÕES</a>
<a href= "" routerLink='contactos' >CONTACTOS</a>

-->



